body {
    background-color: black;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

.row {
    text-align:center;
}

button {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid #86f5ff;
    background-color:rgba(0, 169, 254, 0.3);
    height: 50px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 50px;
}

button.playing {
    border: 2px solid rgba(255, 255, 0, 0.9);
    background-color: rgba(249, 247, 0, 0.5);
}

button.on {
    background-color: rgba(0, 244, 249, 1);
}