body {
    background-color: black;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

.row {
    text-align:center;
}

button {
    border: 0 none;
    height: 50px;
    margin: 3px;
    padding: 0;
    width: 50px;
}

button.playing {
    background-color: red;
}

button.on {
    background-color: green;
}